@import "./normalize.css";
@import "./variables.css";
@import "./generales.css";
@import "./navbar.css";
@import "./hero.css";
@import "./portafolio.css";
@import "./experiencias.css";
@import "./conocimientos.css";
@import "./contactos.css";
@import "./footer.css";
@import "./mobile.css";

.subir {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0px;

  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 25px rgb(11, 27, 71);
}

.subir:hover {
  text-transform: uppercase;
  box-shadow: 0 0 5px rgb(0, 255, 200), 0 0 25px rgb(51, 14, 78),
    0 0 50px rgb(0, 238, 255), 0 0 100px rgb(0, 255, 170);
}